<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h2 class="section-heading"><strong>Müşteri Yorumları</strong></h2>
                <p class="mb-5">Müşterilerimizin deneyimlerini öğrenin.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="testimonial-2">
                    <blockquote class="mb-4">
                        <p>"Hizmetten çok memnun kaldım. Araçlar temiz ve bakımlıydı. Kiralama süreci çok hızlı ve sorunsuz geçti."</p>
                    </blockquote>
                    <div class="d-flex v-card align-items-center">
                        <img src="/carrentals-master/images/person_1.jpg" alt="Image" class="img-fluid mr-3">
                        <div class="author-name">
                            <span class="d-block">Murat D.</span>
                            <span>Sahibi, Ford</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="testimonial-2">
                    <blockquote class="mb-4">
                        <p>"Uzun bir yolculuk için araç kiraladım ve her şey çok iyiydi. Hem araç kalitesi hem de müşteri hizmetleri mükemmeldi."</p>
                    </blockquote>
                    <div class="d-flex v-card align-items-center">
                        <img src="/carrentals-master/images/person_2.jpg" alt="Image" class="img-fluid mr-3">
                        <div class="author-name">
                            <span class="d-block">Ayşe Y.</span>
                            <span>Gezgin</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="testimonial-2">
                    <blockquote class="mb-4">
                        <p>"Kiralama deneyimim çok kolay ve rahattı. Kesinlikle tekrar tercih edeceğim."</p>
                    </blockquote>
                    <div class="d-flex v-card align-items-center">
                        <img src="/carrentals-master/images/person_3.jpg" alt="Image" class="img-fluid mr-3">
                        <div class="author-name">
                            <span class="d-block">Zeynep K.</span>
                            <span>Müşteri</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
