@model List<GetBrandQueryResult>
@{
    ViewData["Title"] = "BrandList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Marka Listesi</h2>
            <table id="tbl2" class="table table-bordered">
                <thead>
                    <tr class="table table-secondary">
                        <th>#</th>
                        <th>Marka Adı</th>
                        <th>Sil</th>
                        <th>Güncelle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.BrandId</td>
                            <td>@item.BrandName</td>
                            <td><a href="/Brands/RemoveBrand/@item.BrandId" class="btn btn-danger">Sil</a></td>
                            <td><a href="/Brands/UpdateBrand/@item.BrandId" class="btn btn-success">Güncelle</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/Brands/CreateBrand/" class="btn btn-info">Yeni Marka Ekle</a>


            <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/2.1.4/js/dataTables.js"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/2.1.4/js/dataTables.bootstrap4.js"></script>


            <link href="https://cdn.datatables.net/2.0.1/css/dataTables.bootstrap5.css" rel="stylesheet" />

            <script>
                $('#tbl2').DataTable({
                    language: {
                        url: "//cdn.datatables.net/plug-ins/1.10.20/i18n/Turkish.json"
                    }
                });
            </script>

        </div>
    </div>
</div>

