@model List<GetBrandQueryResult>
@{
    ViewData["Title"] = "BrandList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="row">
    <h2>Marka Listesi</h2>
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Marka Adı</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BrandId</td>
                <td>@item.BrandName</td>
                <td><a href="/Brands/RemoveBrand/@item.BrandId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Brands/UpdateBrand/@item.BrandId" class="btn btn-success">Güncelle</a></td>
            </tr>            
        }
    </table>
    <a href="/Brands/CreateBrand/" class="btn btn-info">Yeni Marka Ekle</a>
</div>

