@model CreateBrandCommand
@{
    ViewData["Title"] = "CreateBrand";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Marka Ekleme Paneli</h2>

<form method="post">
    <div class="row">
        <br /><br />
        <label>Marka Adı</label>
        <input type="text" asp-for="BrandName" class="form-control" />
        <br /><br />

        <button class="btn btn-info">Marka Ekle</button>
    </div>
</form>

